#profile.section-padding.bg-light-grey
	.row
		.large-12.small-12.columns
			%h3
				Who?
	.row
		.large-12.small-12.columns.no-overflow-x
			.row
				.large-7.small-12.columns
					%p
						I go for simple and elegant solutions. For me, high quality is 
						matter of principle. Though my strengths lie within interaction 
						design and technical implementation, I know a little bit of 
						everything. Thus, I can see things in a broader perspective. 
					%p
						I'm pretty good on my own, but at my best I'm when teamed 
						up with talented people from other disciplines. 
						I believe in team efforts.
					/.large-5.small-12.columns.hide-for-small
			.row.hide-for-small
				.large-12.small-12.columns
					%img.right.tip-left(src="./img/profile.png" alt="Mika pointing at previous paragraph." width="450" height="330" data-tooltip data-options="disable-for-touch:true" data-width="250" title="On my free time I play Battlefield, jog or maybe go swimming. Sometimes I dare to read a book!")

#contact.section-padding.bg-dark-grey
	.row
		.large-12.small-12.columns
			%h3
				Contact
	.row.contact-buttons
		.large-5.small-12.columns
			%a.button.radius.expand(href="mailto:mika.lindell82@gmail.com")
				%img(src="./img/mail.png" alt="Envelope" width="48" height="48")
				via Email
		.large-2.small-12.columns
			%p.or Or
		.large-5.small-12.columns
			%a.button.radius.expand(href="http://www.linkedin.com/pub/mika-lindell/69/780/7b2")
				%img(src="./img/linkedin.png" alt="LinkedIn logo" width="48" height="48")
				via LinkedIn
		- # .large-6.small-12.columns
		- # 	%form
		- # 		%label(for="email")
		- # 			Email:
		- # 		%input(name="email" type="email")
		- # 		%label(for="message")
		- # 			Message:
		- # 		%textarea(name="message")
		- # 		%input.button.small.radius.success.right(type="submit" value=" Submit ")
		- # .large-1.small-12.columns.or
		- # 	%p Or
		- # .large-5.small-12.columns
		- # 	.row
		- # 		.large-12.small-12.columns
		- # 			%a.button.radius.expand(href="#")
		- # 				%img(src="./img/linkedin.png" alt="LinkedIn logo" width="48" height="48")
		- # 				via LinkedIn
		- # 	.row
		- # 		.large-12.small-12.columns
		- # 			%a.button.radius.expand(href="#")
		- # 				%img(src="./img/skype.png" alt="Skype logo" width="48" height="48")
		- # 				via Skype

:javascript
	document.write('<script src=' +
	('__proto__' in {} ? 'lib/zepto' : 'lib/jquery') +
	'.min.js><\/script>')

%script(src="min/compiled/app.min.js")
:javascript
	$(document).foundation();
