%head
	%title
		= title
	%meta(charset="utf-8")
	%meta(description="DONT HAVE A DESCRIPTION YET!")
	%meta(name="viewport" content="width=device-width")
	%link(rel="stylesheet" href="css/main.css")
	%script(src="lib/custom.modernizr.min.js")

