%head
	%title
		= title
	%meta(charset="utf-8")
	%meta(description="DONT HAVE A DESCRIPTION YET!")
	%meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=1")
	%link(rel="stylesheet" href="css/main.css")
	%script(src="lib/custom.modernizr.min.js")

