.title-video-container
	%img.loader.absolute-center(src="./img/loader_42x42.gif" alt="Loading" width="42" height="42")
	.flex-video
		%iframe(src="http://www.youtube.com/embed/KWU_2DXhRhc?rel=0&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen)
		%a.close-reveal-modal &#215;