- # This line includes header partial
- # Note the title-variable sent to partial
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_header.haml')).render(Object.new, title: 'Front end development. Design thinking. - Mika Lindell')
%article
	%header
		.showcase-cover#title-video.toggle-video
			.video-cover
				%img.cover(src="./img/android_cover.jpg" alt="User interface work in progress." width="1920" height="300")
				%img.play.absolute-center(src="./img/play.png" alt="Play a video." width="152" height="153")
		.row.showcase-title
			.large-12.small-12.columns
				%h3
					Motion controlled drum machine
	%section.content
		.row
			.large-12.small-12.columns
				%p
					This is summary of a design process for a motion controlled drum-app, which spawned from a school project. 
					%br The process was most informal =)
				%p
					The lesson I learned: If user already knows one action, use it to communicate other.
- # This line includes footer partial
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_footer.haml')).render()