!!! 5
%html
	- # This line includes header partial
	- # Note the title-variable sent to partial
	- args = {title: 'Wordpress, My Way - Mika Lindell'}
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_header.haml')).render(Object.new, args)
	%body	
		- # This line includes top-menu partial
		- args = {display_back: true}
		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_menu_top.haml')).render(Object.new, args)
		
		%article
			%header.section-padding.border-top-light-grey
				.row.showcase-title
					.large-12.small-12.columns
						%h1.strong.heading-40
							Wordpress, my way
			%section
				.row.content
					.small-12.large-12.columns
						%p.ingress
							Once I installed Wordpress for a first time, and didn't like what I saw: The default theme just didn't cut it. 
							The desing seems alright at a glance, but when you take a closer look, it's easy to spot the not.
						%p.alert-box.my-alert
							%span.bold Attention reader:
							This article was written 2012 in comparison to twenty-eleven, the default theme at that time.
							Though some of the points have been fixed in later iterations, some still apply.
						.text-block
							%h3.regular 
								%span.bold 1 
								Menus
							%p
								Location in the site hierarchy is indicated with a slightly bolder font on the menu item, which can be hard to detect. This can make it difficult to have a sense of location abaout your whereabouts, and to create correct mental model of sites hierarchy. Data displayed in a dropdown is only available by hovering over a menu item. This means it's not accessible with touch devices. There is no indicator for a submenu (like a small arrow), which can make it harder to discover items with a dropdown.
								%img(src="./img/content/p01.jpg" width="1000" height="400")
							%h4.regular.subheader My fix
							%p
								Tabbed menu allows users to better locate themselves in the hierarcy of the site. Dropdown items are displayed on a single row below the currently selected tab, which makes it also accessible for touch devices.
								%img(src="./img/content/f01.jpg" width="1000" height="400")
						.text-block
							%h3.regular 
								%span.bold 2 
								Single article template
							%p
								This is a deadend. Only way to discover new content is by using next/previous links or by tags, which are not very visible feature in the user interface. One can't see what's lying beneath these links, which can reduce the amount of new content found through an impulse. All in all there is no simple way of finding related content to current article, and no way to find it without further page loads.
								%img(src="./img/content/p02.jpg" width="1000" height="645")
							%h4.regular.subheader My fix
							%p
								Recommendations help users to find new articles suggested by their interests in a simple and effortless way. As this is an element with high contrast due to pictures, its more likely to catch ones eye. A solution like this can increase time single visitor spends on a website.
								%img(src="./img/content/f02.jpg" width="1000" height="400")
						/.text-block
						/	%h3.regular 
						/		%span.bold 3 
						/		Forms
						/	%p
						/		Location and visualization of labels and buttons does not follow conventions and require extra effort to spot.
						/		%img(src="./img/content/p03.jpg" width="1000" height="645")
						/	%h4.regular.subheader My fix
						/	%p
						/		Conventional placement and visualization of labels and buttons.
						/		%img(src="./img/content/f03.jpg")
						.text-block
							%h3.regular 
								%span.bold 3
								Category-page
							%p
								Category title and description do not stand out from other content. This is the only thing, which differentiates this view from the front page. Coupled with the problem with menu poorly indicating your location, it's easy to get confused about your whereabouts in the hierarchy of the site.
								%img(src="./img/content/p04.jpg" width="1000" height="598")
							%h4.regular.subheader My fix
							%p
								Increased contrast between category details and other content to better communicate your current location. As it is more about browsing content, only thumbnails and excerpts are displayed instead of full articles. This will make it easier to get a good overview of a category. It also further differentiates category-page from the frontpage. 
								%img(src="./img/content/f04.jpg" width="1000" height="598")
						.alert-box.my-notification
							%span.bold Links:
							%ul.disc
								%li
									%a(href="http://wordpress.org/themes/twentyeleven") Twenty-eleven at wordpress.org
				%footer.section-padding.border-top-light-grey
					%a(href="index.html#video-KWU_2DXhRhc")
						.row
							.small-12.large-12.columns
								%h4.regular
									Recommended:
						.row
							.small-12.large-10.columns
								%img.left.floated(src="./img/covers/recommended/android.jpg" width="110" height="110")

								%h4.strong
									Motion controlled drum machine
								%p.italic.text-dark-grey
									Proof of concept for Android phones, which spawned out of a school project. When I work, I usually learn something new. This time it was the following: If user already knows one action, use it to communicate the other.

		- # This line includes footer partial
		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_footer.haml')).render()