
.bg-dark-grey{
	background-color: $_dark-grey;
	*{color: $_light-grey;}
}

.bg-sky-blue{
	background-color: $_sky-blue;
	*{color: white;}
}

.bg-light-grey{
	background-color: $_light-grey;
}

.border-top-light-grey{
	border-top: 1px solid darken($_light_grey, 30%);
}

.my-alert{
 @include alert(#f2dede);
 font-weight: normal;
 color: darken(#f2dede, 50%);
}

.section-padding{
	padding-top: emCalc(90);
	padding-bottom: emCalc(90);
}

.strong{
	font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform:uppercase;
}

h3.strong{
	font-size: emCalc(40);
	margin-bottom: emCalc(3);
}

.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}

body{overflow-x:hidden;}

.absolute-center{
	position: absolute;
	left: 50%;
	top: 50%;
}

#top-bar{
	height: $topbar-height;
}

.top-bar{
	.name h1 a{
		width: 100%;
		padding: 0;
	}
}
.welcome{

	.slogan{
	 	padding-top: emCalc(60);
		h1, h2{
			font-weight: normal;
		}
		h2{
			font-size: emCalc(18);
		}
	}

	.me{
		text-align: center;
		position: relative;
		height: emCalc(400);
		/*height: emCalc(342);*/
		.tip-hotspot{
			position: absolute;
			height: emCalc(324);
			width: emCalc(200);
			left: 50%;
			margin-left: emCalc(-100);
			bottom: 0px;
			/*border: 1px solid red;*/
		}
		.hi-there{
			position: absolute;
			max-width: none;
			bottom: emCalc(200);
			left: emCalc(350);
		}
		.mugshot{
			position: absolute;
			max-width: none;
	  	left: 50%;
	  	margin-left: emCalc(-232);
	  	bottom: 0px;
		}
	}
}

.showcase{

	display: block;

	.showcase-cover{
		position: relative;
		height: emCalc(300);
		.video-cover{
			position: absolute;
			height: emCalc(300);
			width: 100%;
		}
		img.cover{
			position: absolute;
			max-width: none;
		  left: 50%;
		  margin-left: emCalc(-960);
		}

		#title-video-container{
			background-color: #000;
			.video-centering{
				max-width: emCalc(786);
				margin:auto;
				.flex-video{
					overflow: visible;
					margin-bottom: emCalc(1);
				}
			}
			.close-video{
				position: absolute;
				right: emCalc(5);
				top: emCalc(5);
				z-index: 99;
			}
		}
	}

	.cover-collapsed{
		height: emCalc(300);
	}
	.cover-expanded{
		height: auto;
	}

	.play{
		margin-left: emCalc(-76);
		margin-top: emCalc(-76);
		opacity: 0.6;
		@include single-transition(opacity);
		cursor: pointer;
		z-index: 1;
		&:hover{
			opacity:1;
		}
	}

	.showcase-info{
		margin-top: emCalc(20);
		font-size: emCalc(17);
		p {color: $_dark-grey;}
	}
}


.content{
	margin-top: emCalc(-70); /* this negates the margin created by .showcase */
	margin-bottom: emCalc(70);
}
.ingress{
	margin: emCalc(20) 0;
	font-style: italic;
	font-size: emCalc(22);
}

#contact, #profile{
	padding-top: emCalc(80);
	padding-bottom: emCalc(80);
	input[type="email"], textarea{
		color: black;
	}
}

#profile img{margin-top: emCalc(-25);}

#contact{
	.contact-buttons{
		margin-top: emCalc(60);
		margin-bottom: emCalc(60);
	}
	.or{
		text-align: center;
		font-size: emCalc(23px);
		vertical-align: middle;
		margin-top: emCalc(12);
	}
}

#contact h3, #profile h3, .recommended h3{ font-weight: normal;}

.recommended
{
	padding: emCalc(10) 0;
}
